@font-face {
  font-family: "Jersey";
  src: url("../assets/fonts/Jersey25-Regular.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Jersey", sans-serif, serif;
  font-size: 1.2em;
}

body {  
  background-color: var(--color-6);
  color: var(--color-3);
  overflow: none;
}

#body-wrapper {
  height: 95vh;
  margin: 0;
  padding: 1rem;
}

#main-container {
  border-radius: var(--border-radius-8);
  flex: 1;
}

#left-player {
  background-color: var(--color-5);
}

#right-player {
  background-color: var(--color-1);
}

/* Dice */
#dice {
  background-color: var(--color-3);
  border-radius: var(--border-radius-8);
  width: 85px;
  aspect-ratio: 1;
  border: 2px solid transparent;
  border-style: outset;
}

.dice-dot {
  width: 12px;
  aspect-ratio: 1;
  background-color: black;
}

.buttons {
  width: 150px;
  height: 50px;
}

.btn {
  color: var(--color-6);
  background-color: var(--color-4);
  line-height: 50px;
}

.hold {
  border-radius: 0.5rem 0 0 0.5rem;
}

.roll {
  border-radius: 0 0.5rem 0.5rem 0;
}

.score-font {
  font-size: 1.5rem;
}

.player-live-score {
  border-radius: var(--border-radius-8);
  background-color: var(--color-4);
  text-align: center;
  line-height: 50px;
  width: 150px;
  height: 50px;
  top: 5%;
  color: var(--color-6);
}

/* Players Round bar */
.rounds {
  top: 0;
  text-align: left;
  display: flex;
  gap: 0.2rem;
}

.round-bar {
  width: 15px;
  height: 25px;
  background-color: var(--color-3);
  border-radius: 0.1rem;
}

#left-round > * {
  transform: skewX(-25deg);
  
}

#right-round > * {
  transform: skewX(25deg);
}

/* info modal */
#info {
  width: 30px;
  aspect-ratio: 1;
  margin-left: 1rem;
  color: var(--color-3);
  cursor: pointer;
}

.info-icon {
  border: 2px solid var(--color-3);
  text-align: center;
  line-height: 30px;
}

.animation-blink {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    outline: 1px solid var(--color-5);
  }

  25% {
    outline: 5px solid #f07067e0;
  }

  50% {
    outline: 7px solid #f070678c;
  }

  75% {
    outline: 9px solid #f0706750;
  }

  100% {
    outline: 0px solid #f0706750;
  }
}

.info-modal {
  width: 350px;
  background-color: var(--color-1);
  font-size: 0.9em;
  padding: 1rem;
  border-radius: var(--border-radius-8);
  position: absolute;
  top: 0%;
  left: 150%;
  z-index: 2;
  cursor: default;
}

.info-modal p {
  font-size: 0.9em;
}

.info-modal ol {
  list-style-position: inside;
}

.info-modal::before {
  content: "";
  position: absolute;
  background-color: var(--color-1);
  width: 20px;
  height: 25px;
  top: 2%;
  left: -10px;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.close-modal {
  font-size: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

/* Win modal */
.win-modal-wrapper {
  z-index: 3;
}

.win-modal {
  z-index: 99;
  height: 150px;
  width: 400px;
  background-color: var(--color-4);
  border-radius: var(--border-radius-8);
  color: var(--color-5);
  font-family: inherit;
  font-size: 1.3em;
}

.win-modal-cover {
  background-color: var(--color-7);
  opacity: 0.5;
}

.win-modal-wrapper button {
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: var(--border-radius-8);
  background-color: var(--color-5);
  font-family: inherit;
  font-size: 0.8em;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

@media screen and (orientation: landscape) {
  #main-container {
    width: 550px;
    height: 500px;
  }
}

@media screen and (orientation: portrait) {
  #main-container {
    width: 70vw;
    min-width: 350px;
    height: 50%;
  }

  #live-score, #dice, .buttons {
    transform: scale(0.9);
  }

  .info-modal {
    transform: scale(0.8);
    top: -25px;
    left: 10px;
  }
}