/* Flex-box */
.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.gap-0 {
  gap: 0.1rem
}

/* Height */
.height-100vh {
  height: 100vh;
}

.height-100 {
  height: 100%;
}

.height-50 {
  height: 50%;
}

.height-33 {
  height: calc(100% / 3);
}

/* Width */
.width-50 {
  width: 50%;
}

.width-33 {
  width: calc(100% / 3);
}

/* Padding */
.padd-1 {
  padding: 1rem;
}

/* overflow */
.overflow-hidden {
  overflow: hidden;
}

/* Position */
.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

/* Display */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* Border */
.border-round {
  border-radius: 50%;
}

/* Font/Text */
.text-center {
  text-align: center;
}

/* Shadow */

.shadow-1 {
  box-shadow: 0 0 50px 1px rgb(49, 47, 47);
}